div {
    width: calc(50% - 40px);
    height: 600px;
    overflow: auto;
    overflow-wrap: break-word;
    background-color: #c1dbba;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    vertical-align: top;
    margin: 16px;
    box-sizing: border-box;
    margin-top: 20px;
}
h1 {
    font-size: 50px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
}
h3 {
    font-size: 30px;
    text-align: center;
    color: black;
    width: 90%;
    margin: 0 auto;
}
h4 {
    font-size: 24px;
    text-align: center;
    color: black;
    width: 90%;
    margin: 0 auto;
}
h5 {
    font-size: 18px;
    text-align: center;
    color: black;    
}
p {
    font-size: 18px;
    line-height: 1.5;
    width: 90%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;

}
img {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
    width: 70%;
    align-self: center;
}
.one {
    width: calc(50% - 40px);
    height: 600px;
    background-color: #608955;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    vertical-align: top;
    margin: 16px;
    box-sizing: border-box;
    margin-top: 20px;
}
.two {
    width: calc(50% - 40px);
    height: 600px;
    background-color: #1d3816;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    vertical-align: top;
    margin: 16px;
    box-sizing: border-box;
    margin-top: 20px;
}
video {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
    width: 70%;
    align-self: center;
}
