div {
    width: 48%;
    height: 80%;
    background-color: #c1dbba;
    display: inline-flex;
    flex-direction: column;
    align-items: normal;
    padding-top: 10px;
    vertical-align: top;
    margin: 0 10px;
    box-sizing: border-box;
    margin-top: 20px;
}
h1 {
    font-size: 50px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
}
h3 {
    font-size: 30px;
    text-align: center;
    color: black;
    width: 100%;
}
h4 {
    font-size: 24px;
    text-align: center;
    color: black;
    width: 100%;
}
h5 {
    font-size: 18px;
    text-align: center;
    color: black;    
}
p {
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
img {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
    width: 70%;
    align-self: center;
}
.one {
    width: 48%;
    height: 80%;
    background-color: #608955;
    display: inline-flex;
    flex-direction: column;
    align-items: normal;
    padding-top: 10px;
    vertical-align: top;
    margin: 0 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

