h1 {
    font-size: 40px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    
}
div {
    width: 40%;
    height: 100%;
    background-color: #c1dbba;
    padding: 20px;
    display: inline-block;
}
p {
    font-size: 18px;
    line-height: 1.5;
}
h2 {
    font-size: 30px;
    text-align: center;
    background-color: #0f3510;
    color: white;
    padding: 10px;
}